<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>



<div class="jumbotron">
    <h2 style="margin-left: 30px;">Application Clound Instance Info</h2>

    <div th:unless="${instanceInfo}">
        <p>The application is not running in a cloud environment. Deploy the application to a cloud platform
            to view information about the environment and bound services.</p>
    </div>

    <div th:if="${instanceInfo}">
        <div class="row">
            <p class="col-sm-2"><b style="margin-left: 65px;">App Id:</b></p>
            <p  th:text="${instanceInfo.appId}">appId</p>
        </div>
        <div class="row">
            <p class="col-sm-2"><b style="margin-left: 65px;">Status:</b></p>
            <p  style="color: limegreen">Clound Running ...</p>
        </div>

        <div class="row">
            <p class="col-sm-2"><b style="margin-left: 65px;">Instance Id:</b></p>
            <p  th:text="${instanceInfo.instanceId}">instanceId</p>
        </div>
    </div>

</div>


</body>

</html>
