<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>



<div class="jumbotron">
    <h2>Application Clound Instance Info</h2>

    <div th:unless="${instanceInfo}">
        <p>The application is not running in a cloud environment. Deploy the application to a cloud platform
            to view information about the environment and bound services.</p>
    </div>

    <div th:if="${instanceInfo}">
        <div class="row">
            <p class="col-sm-2"><b>App Id:</b></p>
            <p  th:text="${instanceInfo.appId}">appId</p>
        </div>
        <div class="row">
            <p class="col-sm-2"><b>Status:</b></p>
            <p  style="color: limegreen">Running ...</p>
        </div>

        <div class="row">
            <strong class="col-sm-2">Instance Id:</strong>
            <p class="col-sm-10" th:text="${instanceInfo.instanceId}">instanceId</p>
        </div>
    </div>

</div>


</body>

</html>